$height: 42px;
$width: 121px;
$trs-time: .4s;
.form-wrap {
  margin: 0 auto;
  max-width: 65%;
  text-align: center;
}
.input-wrap {
  position: relative;
  text-align: center;
  width: $width;
  float: right;
  input[type="submit"] {
    display: block;
    height: $height;
    padding: 0;
    padding: 0 15px;
    background: lighten($primary-color, 15);;
    margin: auto;
    width: $width;
    border: 2px solid $success-color;
    color: $white;
    cursor: pointer;
    outline: none;
    text-align: center;
    @include box-sizing(border-box);
    // @include border-radius($height/2);
    @include transition(background $trs-time, color $trs-time, font-size .05s, width $trs-time, border $trs-time);
    &:hover{
      background: lighten($primary-color, 20);
      color: white;
    }
  }
  img{
    position: absolute;
    top: 11px;
    display: none;
    left: $width/2 - 24px;
    // @include scale(0.6);
  }
  svg{
    transform: rotate(270deg);
    position: absolute;
    top: 0px;
    left: ($width - $height)/2;
    display: none;
    .circle_2{
      stroke-dasharray: 0 200;
    }
    .fill_circle{
      @include animation(fill-stroke 2s .4s linear infinite);
    }
  }
  input[type="submit"].circle{
    padding: 0;
    margin: 0 auto;
    width: $height;
    height: $height;
    border: 3px solid $base-grey;
    background: fade-out($base-grey, 0.8);
    /* border: none; */
    &:hover{
      background: none;
    }
  }
  input[type="submit"].filled{
    background: $success-color;
    color: white;
    cursor: pointer;
  }
}
@include keyframes(fill-stroke){
  0%{
    stroke-dasharray: 0 200;
  }
  20%{
    stroke-dasharray: 36 200;
  }
  40%{
    stroke-dasharray: 72 200;
  }
  60%{
    stroke-dasharray: 98 200;
  }
  80%{
    stroke-dasharray: 124 200;
  }
  100%{
    stroke-dasharray: 160 200;
  }
}
